  <div class="tab-content">

  <div class="contact-item">
        <img src="assets/images/con_fax.png" alt="Adresse Aurillac" class="contact-icon">
        <div>
          <strong>Contact</strong><br>
            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=contact@cfi15.fr&su=Demande%20depuis%20le%20site%20web&body=Bonjour,%0A%0AJe%20souhaiterais%20recevoir%20plus%20d'informations.%0A%0AMerci." target="_blank"  class="email-link">
  contact@cfi15.fr
</a>


        </div>
      </div>


      <div class="contact-item">
        <img src="assets/images/con_address.png" alt="Adresse Aurillac" class="contact-icon">
        <div>
          <strong>CFI-M Aurillac</strong><br>
          5 rue Jacques Prévert<br>
          15000 Aurillac
        </div>
      </div>

      <div class="contact-item">
        <img src="assets/images/con_tel.png" alt="Téléphone Aurillac" class="contact-icon">
        <div>04 71 64 81 06</div>
      </div>

      <div class="contact-item">
        <img src="assets/images/con_address.png" alt="Adresse Figeac" class="contact-icon">
        <div>
          <strong>CFI-M Figeac</strong><br>
          11 Avenue du Général de Gaulle<br>
          46100 Figeac
        </div>
      </div>

      <div class="contact-item">
        <img src="assets/images/con_tel.png" alt="Téléphone Figeac" class="contact-icon">
        <div>04 71 43 35 36</div>
      </div>
    </div>
