    <div class="tab-content">


      <h3>ENCAISSEMENT</h3>
        <p>
            Grâce à notre partenaire <strong>NCPI</strong>, nous pouvons également proposer à tous les commerces de proximité des solutions fiables et accessibles.
        <br/>

            Quelque soit votre activité commerciale, nous avons la solution d'encaissement avec logiciel et matériels tels que TPV, tiroirs caisse, douchette scanner, imprimante et terminaux tactiles. Les logiciels sont certifiés <strong>NF525</strong> et assure l'essentiel des besoins commerçants :
        </p>

        <ul class="features-list">
            <li><i class="fas fa-check-circle"></i> Interface tactile simple</li>
            <li><i class="fas fa-check-circle"></i> Encaissement rapide et sécurisé</li>
            <li><i class="fas fa-check-circle"></i> Gestion des stocks</li>
            <li><i class="fas fa-check-circle"></i> Fichiers clients, fidélisation clients, promotions</li>
            <li><i class="fas fa-check-circle"></i> Exports comptables</li>
             <li><i class="fas fa-check-circle"></i> Facture Electronique</li>
            <li><i class="fas fa-check-circle"></i> Le logiciel d'encaissement est compatible avec VOS postes fixes ou portables</li>
        </ul>


    </div>
