<div class="main-card">

<div class="banner-wrapper">

  <div id="banner" class="animated"></div>


  <div class="banner-button">
    <a href="https://my.anydesk.com/v2/api/v2/custom-clients/downloads/public/QGIDX3XKCJYV/Anydesk-QS-CFI.exe"
       target="_blank">
      <img src="assets/images/dl-btn-wb-small.png"
           alt="Télécharger AnyDesk">
    </a>
  </div>



</div>

<div class="tabs-wrapper">




<mat-tab-group (selectedTabChange)="changeTitle($event.tab.textLabel)">

<mat-tab label="Accueil">
  <app-accueil-tab></app-accueil-tab>
</mat-tab>

  <mat-tab label="Services">
  <app-services-tab></app-services-tab>
  </mat-tab>

  <mat-tab label="Informatique">
    <app-informatique-tab (titleChanged)="changeTitle($event)"></app-informatique-tab>
  </mat-tab>


  <!--***este es nuevo*-->
<mat-tab label="Encaissement">
   <app-encaissement-tab></app-encaissement-tab>
  </mat-tab>


<mat-tab label="Bureautique">
  <app-bureautique-tab></app-bureautique-tab>
</mat-tab>

  <mat-tab label="COMPUTECH">
  <app-computech-tab></app-computech-tab>
  </mat-tab>


  <mat-tab label="Contact">
    <app-contact-tab></app-contact-tab>
  </mat-tab>
</mat-tab-group>

</div>


</div>
