<div class="banner-wrapper">

  <div id="banner" class="animated"></div>


  <div class="banner-button">
    <a href="https://my.anydesk.com/v2/api/v2/custom-clients/downloads/public/QGIDX3XKCJYV/Anydesk-QS-CFI.exe"
       target="_blank">
      <img src="assets/images/dl-btn-wb-small.png"
           alt="Télécharger AnyDesk">
    </a>
  </div>

    <div class="tab-header-extra">
    {{ today | date: 'fullDate':'':'fr-FR' }}
  </div>

</div>

<div class="tabs-wrapper">




<mat-tab-group (selectedTabChange)="changeTitle($event.tab.textLabel)">

  <mat-tab label="Accueil">
    <div class="tab-content">

      <h3>C.F.I.</h3>
      Le mot du dirigeant
      <p>CFI, votre partenaire Cantalien pour l'Informatique, la Bureautique et l'Encaissement.
      Notre magasin est ouvert du lundi au vendredi de 8h30 à 12h et de 13h30 à 19h00 <br/>

      Interlocuteur des PMI/PME et artisans, nous sommes à même de vous proposer des solutions techniques innovantes et fiables du style Gestion Informatique et Sécurisé de Sites Distants, Publication d’Agendas Centralisés sur Internet (via la Société NET15), Réseaux Sans Fil connectés à des réseaux serveurs et la gestion de Parc Informatique et Bureautique importants.<br/>

      Entreprise de SERVICES de PROXIMITE, nous sommes également à votre disposition pour toute étude d’Assistance et de Conseil de « Politique Informatique » ainsi que pour la réalisation de programmes spécifiques de Gestion et de Solutions Informatiques (avec étude de Cahier des Charges)<br/>

      Nous avons enfin à notre disposition une salle de formation équipée de 15 postes très récents en réseau pour toute formation Internet, Bureautique, Imagerie et autres à la demande.<br/>

      Le service complet, vous dis-je !
    </p>
    </div>

     <div class="acc-center-image">
        <img src="assets/images/signature_dm.gif"
             alt="signature"
             class="brand-main-image">
      </div>



  </mat-tab>

  <mat-tab label="Services">
    <div class="tab-content" *ngIf="!showTools">

      <h3>CONSEIL AVANT VENTE</h3>

      <p>L'équipe technico-commerciale est à votre service pour vous aider à définir la meilleure solution à apporter à vos besoins en fonction des paramètres de votre société.</p>

      <h3>INSTALLATION</h3>
      <p>Nos techniciens prennent en charge toutes les phases de votre réalisation : Mise en place sur site</p>
      <div style="background: #f8fafc; padding: 15px; border-radius: 8px; margin-top: 10px;">
      <ul>
        <li>Préparation en atelier pour les serveurs, postes et copieurs</li>
        <li>Récupération de vos données</li>
        <li>Installation des logiciels</li>
        <li>Réalisation de tous les paramétrages</li>
        <li>Mise en place sur site</li>
      </ul>
     </div>
      <h3>ASSISTANCE CLIENT</h3>
      <p>Nous avons mis en place un contrat d'assistance qui vous garantit X heures de technicien qualifié par mois pour vous apporter un réel confort et la tranquilité dans l'utilisation de votre outil informatique.</p>

      <h3>SERVICE APRES VENTE</h3>
      <p>Nos techniciens se forment régulièrement afin de vous apporter le meilleur service possible.</p>

      <p>AnyDesk</p>
      <div style="background: #f8fafc; padding: 15px; border-radius: 8px; margin-top: 10px;">
      <ul>
        <li><a href="https://get.anydesk.com/Mi0mk1AI/AnyDesk_QS.exe" target="_blank">Quick Support</a></li>
        <li><a href="https://anydesk.com/fr/downloads/windows" target="_blank">Assistance en ligne</a></li>
        <li><a href="https://anydesk.com/fr" target="_blank">AnyDesk, site officiel</a></li>
      </ul>
      </div>
      <p>Un technicien vient chez vous en 10 secondes et vous apporte assistance sans que ayez à installer quoi que ce soit et en toute sécurité.</p>

      <h3>DOMAINES</h3>
      <p>Un certains nombre de domaines Internet en FR sont disponibles en ventes sur notre site web dédié.</p>

      <h3>OUTILS</h3>
      <p>Voici un ensemble d'informations utiles mises à votre disposition :</p>
      <div style="background: #f8fafc; padding: 15px; border-radius: 8px; margin-top: 10px;">
      <ul>
       <li><a href="#" (click)="showTools = 'ip';changeTitle('Adresse IP')">MON ADRESSE IP</a></li>
        <p>Ce lien vous permet de connaître votre adresse IP publique - côté Internet.</p>
        <li><a href="#" (click)="showTools = 'browser';changeTitle('Navigateur')">MON NAVIGATEUR WEB</a></li>
        <p>Ce lien vous permet de connaître la dénomination de votre navigateur web - du point de vue des serveurs web.</p>
      </ul>
      </div>
</div>
       <div *ngIf="showTools" class="tools-section">

      <button class="subtab-btn" (click)="showTools = null;changeTitle('Services')">
        ← Retour
      </button>

  <div *ngIf="showTools === 'ip'" class="tool-result-wrapper" >
    <h3>Votre adresse</h3>
    <p>L'adresse IP publique du routeur public le plus proche de la machine que vous utilisez actuellement est :</p>
    <p class="info-box">80.11.234.191</p>
  </div>

  <div *ngIf="showTools === 'browser'" class="tool-result-wrapper" >
    <h3>Votre navigateur</h3>
    <p>La dénomination du navigateur que vous utilisez actuellement pour visualiser cette page est :</p>
    <div class="info-box">
      Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.0.0 Safari/537.36
    </div>
  </div>

</div>





  </mat-tab>

  <mat-tab label="Informatique">
    <div class="tab-content">
       <!-- <h2 class="tab-main-title">Présentation Informatique</h2> -->

      <p>CFI, l'informatique en toute sérénité ! Nous offrons toute une gamme de prestations informatiques aux professionnels comme aux particuliers :</p>

      <!-- Botón para mostrar Matériel -->
    <div class="bureautique-menu">

	 <button class="subtab-btn"
              [class.active-subtab]="!showMaterial"
              (click)="showMaterial = false; changeTitle('Informatique')" >Informatique</button>



      <button class="subtab-btn"
              [class.active-subtab]="showMaterial"
              (click)="showMaterial = true; changeTitle('Matériel')"> Matériel</button>



    </div>

      <!-- Contenido principal de Informatique -->
      <div *ngIf="!showMaterial" class="brand-content-fade">

        <div class="media-container">
          <img src="assets/images/materiel.jpg" alt="material" class="media-image">
          <div class="media-content">
            <h3>MATERIEL INFORMATIQUE</h3>
            <p>Vous cherchez du matériel informatique de qualité adapté à vos besoins ? Nous sommes à même de vous proposer des PCs bureautiques, gamers, stations de travail, serveurs, portables et ultra portables. Faites nous connaître votre ou vos besoins !</p>
          </div>
        </div>

        <div class="media-container">
          <img src="assets/images/logiciel1.jpg" alt="logiciel1" class="media-image">
          <div class="media-content">
            <h3>LOGICIELS BUREAUTIQUE - GESTION</h3>
            <p>Référencé chez la plupart des éditeurs de logiciels : bureautique, gestion, paie etc. Nous avons la solution que vous attendez. Dites nous ce que vous recherchez !</p>
          </div>
        </div>

        <div class="media-container">
          <img src="assets/images/logiciel2.jpg" alt="logiciel2" class="media-image">
          <div class="media-content">
            <h3>LOGICIELS SPECIFIQUES</h3>
            <p>Par l'intermédiaire de notre partenaire Eriidan qui a pour vocation de s'adresser aux PME ainsi qu'aux départements informatiques des grosses sociétés, des administrations et institutions pour leurs besoins informatiques spécifiques.</p>
            <p>Cette équipe de professionnels vous offre des solutions sur mesure pour vos besoins de développement informatique :</p>
            <div style="background: #f8fafc; padding: 15px; border-radius: 8px; margin-top: 10px;">
            <ul>
              <li>Gestion de projet (encadrement, phase d'étude, cahier des charges, etc.)</li>
              <li>Plusieurs langages de programmation</li>
              <li>Bases de données</li>
              <li>Tests et validation</li>
              <li>Migrations de données</li>
              <li>Formation et conseil</li>
              <li>Assistance et maintenance</li>
              <li>Audits</li>
              <li>Expertises</li>
            </ul>
            </div>
            <p>Pour répondre aux besoins spécifiques de chaque entreprise, nous assurons la conception et la réalisation sur mesure d'une partie ou de la totalité de votre système informatique avec la possibilité de se rattacher à un ou plusieurs prologiciels déjà existants.</p>
          </div>
        </div>

        <div class="media-container">
          <img src="assets/images/maintenance.jpg" alt="maintenance" class="media-image">
          <div class="media-content">
            <h3>MAINTENANCE INFORMATIQUE</h3>
            <p>Votre ordinateur fonctionne mal ou votre connexion ADSL est en panne ? Nous intervenons sur site dans les plus brefs délais (éventuellement dans le cadre d'un contrat d'assistance) car nous savons que pour vous, un outil informatique opérationnel est aujourd'hui vital pour être productif et concurrentiel !</p>
          </div>
        </div>

        <div class="media-container">
          <img src="assets/images/formation.jpg" alt="formation" class="media-image">
          <div class="media-content">
            <h3>FORMATION INFORMATIQUE</h3>
            <p>Vous avez besoin d'une formation pour prendre en main votre ordinateur ou pour vous perfectionner ? CFI est un Centre de Formation Agréé N° 83 15 00 494 15 et vous enseignera la bureautique (traitement de texte, tableur), la navigation sur internet ou l'utilisation de votre messagerie électronique, et plus particulièrement pour les professionnels.</p>
          <div style="background: #f8fafc; padding: 15px; border-radius: 8px; margin-top: 10px;">
            <ul>
              <li>Gestion commerciale</li>
              <li>Gestion de paie</li>
              <li>Gestion d'encaissement</li>
              <li>Gestion de production</li>
              <li>Etc.</li>
            </ul>
            </div>
          </div>
        </div>

        <div class="media-container">
          <img src="assets/images/logo_cfi.png" alt="cfi_site" class="media-image">
          <div class="media-content">
            <h3>UN PARTENAIRE INFORMATIQUE</h3>
            <p>Dans tous les domaines de l'informatique, CFI est votre partenaire pour vous conseiller et pour vous permettre d'aller de l'avant en toute sérénité ! N'hésitez pas à nous conctater, nous sommes à votre disposition afin de répondre et vous assister dans vos difficultés.....</p>
          </div>
        </div>

      </div>

      <!-- Contenido Matériel -->
      <div *ngIf="showMaterial"  class="brand-content-fade">
        <!-- Tu contenido de Material aquí (no lo repito para abreviar) -->

        <h3>Matériel informatique </h3>
         <div class="materialInfo-center-image">
         <img src="assets/images/materiel2.jpg"
             alt="materiel2"
             class="materialInfo-main-image">
        </div>

           <div class="media-container">
          <img src="assets/images/logo_terra.jpg" alt="cfi_site" class="media-image">
          <div class="media-content">
            <h3>TERRA</h3>
            <p>TERRA, des solutions complètes répondant aux exigences les plus diverses :</p>
        <div style="background: #f8fafc; padding: 15px; border-radius: 8px; margin-top: 10px;">
            <ul>
              <li>PC Bureautique</li>
              <li>PC Gamer</li>
              <li>PC Portable</li>
              <li>Client Léger</li>
              <li>Station de Travail</li>
              <li>Serveur</li>
              <li>Ecran</li>
              <li>et matériel divers</li>
            </ul>
            </div>
<p>Les produits TERRA sont non seulement d'un rapport qualité/prix exceptionnel, mais ils se distinguent aussi par leur technologie d'exception et leur niveau de performance. Tout ce que à quoi un client exigeant comme vous peut s'attendre.</p>
          </div>
        </div>


        <div class="media-container">
          <img src="assets/images/logo_nec.gif" alt="cfi_site" class="media-image">
          <div class="media-content">
            <h3>NEC</h3>
            <p>Les serveurs NEC sont parfaitement équipés pour faire fonctionner les applications informatiques allant des plus simples aux plus complexes (serveurs de fichiers, déploiement d’applications web/messagerie, infrastructure réseau, applications avec base de données (ERP/ CRM), applications métier, solution de virtualisation et consolidation…). Ils répondent aux besoins en constante évolution des petites et moyennes entreprises ainsi qu’aux grandes organisations notamment celle du secteur de la santé et de l’éducation.</p>
            <p>Ils offrent un niveau de performance, une sécurité et une flexibilité jamais égalée dans cette gamme de prix, ils sont également plus économiques et plus simples à exploiter, intégrant en standard des systèmes RAID, ainsi que de véritables solutions d’administration.</p>
            <p>La gamme serveur NEC répond parfaitement aux utilisateurs à la recherche de :</p>
 <div style="background: #f8fafc; padding: 15px; border-radius: 8px; margin-top: 10px;">
            <ul>
              <li>Performance accrue</li>
              <li>Sécurité et Disponibilité continue des applications</li>
              <li>Flexibilité pour soutenir les évolutions des besoins</li>
              <li>Maitrise des coûts, tels que les coûts de conception, planification, mise en place, matériels, logiciels, infrastructure, maintenance</li>
              <li>Manageabilité pour facilité d'administration</li>
            </ul>
</div>
          </div>
        </div>

          <div class="media-container">
          <img src="assets/images/logo_toshiba.gif" alt="cfi_site" class="media-image">
          <div class="media-content">
            <h3>Toshiba</h3>
            <p>Si au premier abord, tous les portables se ressemblent, leurs caractéristiques peuvent être très différentes et répondent à des usages spécifiques. Les portables Toshiba sont conçus pour répondre aux besoins des professionnels, des familles, mais aussi des étudiants ou encore des professionnels très mobiles.</p>

          </div>
        </div>

           <div class="media-container">
          <img src="assets/images/logo_samsung.jpg" alt="cfi_site" class="media-image">
          <div class="media-content">
            <h3>Samsung</h3>
            <p>Samsung propose une gamme d'ordinateur portable variée, allant du mini notebook de 10 pouces jusqu'au 17 pouces, mais aussi de 1 à 3 Kg pour une capacité de stockage de 160 à 320 Go. Vous trouverez obligatoirement le PC que vous recherchez !</p>

          </div>
        </div>



      </div>

    </div>
  </mat-tab>

<mat-tab label="Bureautique">
  <div class="tab-content">
<!--<h2 class="tab-main-title">Bureautique</h2>-->
    <!-- SUBMENU SIEMPRE VISIBLE -->
    <div class="bureautique-menu">

      <button class="subtab-btn"
              [class.active-subtab]="showBureautiqueOption === null"
              (click)="showBureautiqueOption = null;changeTitle('Bureautique')">
        Bureautique
      </button>

     <button class="subtab-btn"
        [class.active-subtab]="showBureautiqueOption === 'option1'"
        (click)="showBureautiqueOption = 'option1'; changeTitle('Triumph-Adler')"> Triumph-Adler
    </button>

      <button class="subtab-btn"
              [class.active-subtab]="showBureautiqueOption === 'option2'"
              (click)="showBureautiqueOption = 'option2';changeTitle('Brother')">Brother

      </button>




      <button class="subtab-btn"
              [class.active-subtab]="showBureautiqueOption === 'option3'"
              (click)="showBureautiqueOption = 'option3';changeTitle('Sharp')">Sharp

      </button>

    </div>

    <!-- CONTENIDO PRINCIPAL -->
    <div *ngIf="showBureautiqueOption === null">

      <p>Spécialisé dans l'environnement Bureautique, CFI propose à travers de ses compétences, une offre Multi-Produits, Multi-Marques, Multi-Services.
      La gamme des produits proposés par CFI comprend tous les grands noms de la bureautique moderne.</p>
<div style="background: #f8fafc; padding: 15px; border-radius: 8px; margin-top: 10px;">
      <ul>
        <li>TRIUMPH-ADLER</li>
        <li>BROTHER</li>
        <li>SHARP</li>
      </ul>
</div>
      <p>Les priorités de CFI :</p>
      <div style="background: #f8fafc; padding: 15px; border-radius: 8px; margin-top: 10px;">
      <ul>
        <li>être à l'écoute de vos besoins</li>
        <li>Analyser et réfléchir à une solution</li>
        <li>Vous proposer la meilleure solution pour votre entreprise</li>
      </ul>
</div>
      <p>Avec CFI, la maintenance de votre parc est une garantie, nous sommes mainteneur agréé BROTHER et SHARP. Nous nous engageons à vous faire bénéficier :</p>
     <div style="background: #f8fafc; padding: 15px; border-radius: 8px; margin-top: 10px;">
      <ul>
        <li>de toutes les garanties constructeurs</li>
        <li>de toutes les extensions de garantie</li>
        <li>d'interventions sur site avec une maintenance assurée par un technicien agréé et formé</li>
      </ul>
</div>
    </div>

    <!-- TRIUMP-ADLER -->
    <div *ngIf="showBureautiqueOption === 'option1'" class="bureautique-full-images">

      <h3>Triumph-Adler</h3>

      <img src="assets/images/ta_3061i.jpg"
           alt="Triumph Adler 3061i"
           class="full-image">

      <img src="assets/images/ta_iris.jpg"
           alt="Triumph Adler Iris"
           class="full-image">

    </div>

    <!-- BROTHER -->
    <div *ngIf="showBureautiqueOption === 'option2'" class="brand-section">

      <h3>Brother </h3>

      <div class="brother-center-image">
        <img src="assets/images/bureautique2.gif"
             alt="bureautique2"
             class="brand-main-image">
      </div>

      <div class="media-container">
        <img src="assets/images/logo_brother.gif" alt="logo_brother" class="media-image">
        <div class="media-content">
          <h3>Brother</h3>
          <p>À l'heure du tout numérique et de la génération du tout écran, BROTHER invente et développe des produits pour que chacun puisse imprimer, numériser, télécopier, copier,
          étiqueter... en somme laisser, sur le papier, sa plus belle empreinte possible.<br/>

          Or vous n'imaginez pas ce qu'il y a derrière une empreinte BROTHER. Il y a des produits, des consommables et des services adaptés à chacun de nos clients. Il y a aussi des hommes et des femmes de talent, disponibles et attentifs. Il y a surtout une philosophie : « At your side ».</p>

          <h3>« At your side » est bien plus qu'une profession de foi !</h3>
          <p>C'est promouvoir une culture et une organisation d'entreprise entièrement tournée vers le client. C'est savoir recommander le bon produit et offrir des services à forte valeur ajoutée pour simplifier la vie des utilisateurs et maîtriser les coûts d'impression. C'est enfin imaginer toutes les solutions pour des produits sûrs et respectueux de l'environnement à chaque étape de leur cycle de vie.</p>
        </div>
      </div>

    </div>

    <!-- SHARP -->
    <div *ngIf="showBureautiqueOption === 'option3'">

      <h3>Sharp</h3>

      <div class="brand-center-image">
        <img src="assets/images/mx2300n.gif"
             alt="sharp"
             class="brand-main-image sharp-main-image">
      </div>

      <div class="media-container">
        <img src="assets/images/logo_sharp.jpg" alt="sharp" class="media-image">
        <div class="media-content">
          <h3>Présentation Sharp</h3>
          <p>La clé de voute de la communication de votre organisation.</p>

          <p>Du photocopieur A4 au A3, de l'impression monochrome à la couleur, de 15 pages par minute à 50 pages par minute :</p>
<div style="background: #f8fafc; padding: 15px; border-radius: 8px; margin-top: 10px;">
          <ul>
            <li>Productivité en impression et copie</li>
            <li>Puissante numérisation réseau</li>
            <li>Options de Finition professionnelles</li>
            <li>Fonctions complètes de sécurité</li>
            <li>Document filing (classement de documents)</li>
          </ul>
</div>
        </div>
      </div>

    </div>

  </div>
</mat-tab>



  <mat-tab label="Contact">
    <div class="tab-content contact-content">

     <div class="contact-item">
      <img src="assets/images/con_fax.png" alt="Email" class="contact-icon">
      <a href="https://mail.google.com/mail/?view=cm&fs=1&to=contact@cfi15.fr&su=Demande%20depuis%20le%20site%20web&body=Bonjour,%0A%0AJe%20souhaiterais%20recevoir%20plus%20d'informations.%0A%0AMerci." target="_blank"  class="email-link">
  contact@cfi15.fr
</a>
    </div>

      <div class="contact-item">
        <img src="assets/images/con_address.png" alt="Adresse Aurillac" class="contact-icon">
        <div>
          <strong>CFI-M Aurillac</strong><br>
          5 rue Jacques Prévert<br>
          15000 Aurillac
        </div>
      </div>

      <div class="contact-item">
        <img src="assets/images/con_tel.png" alt="Téléphone Aurillac" class="contact-icon">
        <div>04 71 64 81 06</div>
      </div>

      <div class="contact-item">
        <img src="assets/images/con_address.png" alt="Adresse Figeac" class="contact-icon">
        <div>
          <strong>CFI-M Figeac</strong><br>
          11 Avenue du Général de Gaulle<br>
          46100 Figeac
        </div>
      </div>

      <div class="contact-item">
        <img src="assets/images/con_tel.png" alt="Téléphone Figeac" class="contact-icon">
        <div>04 71 43 35 36</div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

</div>


